# Binários e executáveis
bin/
build/
*.o
*.out
*.exe

# Sistema 
.DS_Store
Thumbs.db

# VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Dados/teste
data/*.huff
data/*.bin